.home {
    width: 1040px;
    margin: 0 auto;
    margin-top: 35px;
    font-size: 17px;
    .content {
        // width: 675px;
        height: 324px;
        .article {
            width: 675px;
            float: left;
            .item {
                // background: red;
                margin-top: 20px;
                a {
                    font-size: 13px;
                    margin-left: 10px;
                }
                & > div{
                    .in-theater {
                        color: #6B6A9C;
                    }
                    .will-in-theater {
                        color: #3277AA;
                    }
                    padding-bottom: 10px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #EAEAEA;

                }
                
                ul {
                    .each {
                        width: 115px;
                        // height: 270px;
                        margin-right: 25px;
                        float: left;
                        text-align: center;
                        font-size: 0;
                        overflow: hidden;
                        &:nth-child(5) {
                            margin-right: 0;
                        }
                        &:nth-child(10) {
                            margin-right: 0;
                        }
                        
                        a {
                            color: #464646;
                            margin: 0;
                            text-align: center;
                            img {
                                width: 115px;
                                height: 170px;
                            }
                            &.title {
                                display: block;
                                margin-top: 10px;
                                white-space: nowrap;
                                color: #3277AA;

                            }
                        }

                        .rate {
                            font-size: 10px;
                            color: #FFAC2C;
                        }

                        .ant-rate-star {
                            margin: 0;
                        }
                    }

                    .hot {
                        height: 230px;
                    }
                }

                // 更多
                .more {
                    float: right;
                    font-size: 12px;
                    text-decoration: none;
                    margin-top: 5px;
                    color: #6C6B9D;
                    &:hover {
                        color: white;
                        background-color: #4985B3;
                    }
                }

                // 电影分类
                .cate {
                    font-size: 10px;
                    margin-left: 10px;
                    margin-right: 10px;
                    padding: 5px 0;
                    box-sizing: border-box;
                    color: #9F9F9F;
                    cursor: pointer;
                }

                .active {
                    color: #161616;
                    font-size: 12px;
                }

                // 广告
                .advert {
                    img {
                        width: 675px;
                        height: 112px;;
                    }
                }
            }
        }
    }

    // 侧边栏
    .aside {
        width: 300px;
        float: right;
        margin-top: 20px;

        .ques {
            display: inline-block;
            width: 100%;
            text-decoration: none;
            font-size: 15px;
            background-color: #F2F7F6;
            color: #676699;
            padding: 11px 0;
            padding-left: 15px;
            box-sizing: border-box;
            margin-bottom: 20px;
        }

        .billboard-hd {
            display: inline-block;
            width: 100%;
            padding-bottom: 10px;
            border-bottom: 1px solid #EAEAEA;
            a {
                font-size: 10px;
                text-decoration: none;
                color: #69689A;
                margin-left: 10px;
            }
        }

        .billboard-bd {
            li {
                border-bottom: 1px solid #EAEAEA;
                padding: 10px 0;
                font-size: 14px;
                padding-left: 10px;
                box-sizing: border-box;

                a {
                    color: #4985B3;
                }
                
            }
        }
    }
}