.home {
    width: 1040px;
    margin: 0 auto;
    margin-top: 35px;
    font-size: 17px;
    .content {
        width: 675px;
        height: 324px;
        .article {
            .item {
                // background: red;
                a {
                    font-size: 13px;
                    margin-left: 10px;
                }
                & > div{
                    .in-theater {
                        color: #6B6A9C;
                    }
                    .will-in-theater {
                        color: #3277AA;
                    }
                    padding-bottom: 10px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #EAEAEA;

                }
                
                ul {
                    .each {
                        width: 115px;
                        height: 270px;
                        margin-right: 25px;
                        background-color: lightcyan;
                        float: left;
                        text-align: center;
                        &:nth-child(5) {
                            margin-right: 0;
                        }
                        a {
                            color: #464646;
                            margin: 0;
                            img {
                                width: 115px;
                            }
                            &.title {
                                display: inline-block;
                                margin-top: 10px;
                            }
                        }

                        .rate {
                            font-size: 10px;
                            color: #FFAC2C;
                        }

                        .ant-rate-star {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}