#chart {
    width: 1040px;
    margin: 0 auto;
    margin-top: 35px;
    font-size: 17px;

    .head {
        font-size: 16px;
        color: #072;
        font-weight: bolder;
        margin: 0 0 12px 0;

        
    }


    h1 {
        font-size: 26px;
        color: #494949;
    }

    .content {
        width: 100%;

        .article {
            float: left;
            width: 675px;

            .item {
                margin-top: 20px;
                border-top: 1px dashed #DDDDDD;
                padding: 15px 0;

                img {
                    width: 75px;
                    height: 106px;
                    float: left;
                }

                .desc {
                    float: left;
                    width: calc(100% - 100px);
                    padding: 0 20px;

                    .title {
                        color: #3677AA;
                        font-size: 15px;
                        display: block;
                    }
                    .actors {
                        width: 100%;
                        margin-top: 10px;
                        margin-bottom: 0;
                        font-size: 13px;
                        color: #6A6A6A;
                    }
                    .ant-rate-star {
                        margin-right: 2px;
                    }
                    .bottom {
                        margin-top: 10px;
                        ul {
                            float: left;
                        }
                        label {
                            float: left;
                            font-size: 10px;
                            color: #FFAC2C;
                            margin-left: 10px;
                        }

                        .comment {
                            color: #6A6A6A;
                        }
                    }
                }
            }
        }
        .aside {
            float: right;
            width: 300px;

            .date {
                float: right;
                font-size: 12px;
                color: #515151;
            }

            .sideMovie {
                padding-left: 10px;
                margin-top: 10px;
                li {
                    font-size: 14px;
                    border-bottom: 1px dashed #DDDDDD;
                    padding: 5px 0;

                    a {
                        color: #3277AA;
                        margin-left: 6px;
                    }

                    .new {
                        display: inline-block;
                        padding: 0 5px;
                        background-color: #FFA500;
                        color: white;
                        font-weight: bold;
                        
                    }

                    .money {
                        float: right;
                        font-size: 14px;
                    }

                    .delta {
                        float: right;
                        font-size: 14px;
                    }
                }
            }

            .top250All {
                float: right;
                color: #7979A5;
                font-size: 13px;
            }

            .top250 {
                margin-top: 10px;
                li {
                    display: inline-block;
                    width: 75px;
                    height: 130px;
                    text-align: center;
                    a {
                        display: inline-block;
                        // height: 100%;
                        img {
                            width: 65px;
                            height: 103px;
                            overflow: hidden;
                        }
                        .movie-title {
                            display: inline-block;
                            width: 65px;
                            text-align: center;
                            text-decoration: none;
                            font-size: 12px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            cursor: pointer;
                            color: #3378AA;
                        }
                    }
                }
            }
        }
    }
}