.header {
    width: 100%;
    min-width: 1040px;
    background-color: #F1F3F5;
    margin: 0 auto;
    .top {
        background-color: #535652;
        height: 30px;
        font-size: 12px;
        a {
            display: inline-block;
            padding: 7px 12px;
            color: #d5d5d5;
        }
    }

    .content {
        height: 76px;
        width: 1040px;
        margin: 0 auto;
        position: relative;
        .searchList {
            z-index: 10;
            background-color: white;
            width: 450px;
            position: absolute;
            top: 60px;
            left: 160px;
            .searchitem {
                padding: 10px;
                box-sizing: border-box;
                border-top: 1px solid #EEEEEE;
                img {
                    width: 40px;
                    height: 55px;
                    float: left;
                }
                .searchdesc {
                    float: left;
                    width: calc(100% - 40px - 20px);
                    margin-left: 10px;
                    
                    label {
                        display: block;
                        a {
                            color: #3979AA;
                        }
                        .time {
                            color: #C6C6C6;
                        }
                    }
                    .english-title {
                        color: #C6C6C6;
                    }
                }
            }

        }
        .title {
            float: left;
            color: #258DCD;
            font-weight: bolder;
            font-size: 30px;
            padding: 17px 0;
            box-sizing: border-box;
        }

        .searchInput {
            margin-left: 40px;
            float: left;
            padding: 22px 0;
        }
    }

    .line {
        width: 100%;
        height: 1px;
        background-color: #E2EBECed;
    }

    .cate {
        margin-bottom: 0;
        height: 40px;
        width: 1040px;
        margin: 0 auto;
        overflow: hidden;
        li {
            float: left;
            font-size: 15px;
            padding: 9px 0;
            margin-right: 20px;
            a {
                color: #307EAE;
            }
        }
    }
}